body {
	margin: 0;
	padding: 0;
}

.container {
	width: 1008px;
	margin: 0 auto;
	padding: 0 24px;
	box-sizing: border-box;
}

header {
	height: 150px;
	background-color: yellow;
	position: relative;
}

img#logo {
	width: 122px;
	height: 108px;
	position: absolute;
	top: 0px;
	left: 0px;
}

div.contact {
	height: 108px;
	width: 279px;
	background-color: #777777;
	position: absolute;
	top: 0px;
	left: 145px;
}

div.more {
	height: 108px;
	width: 513px;
	background-color: #777777;
	position: absolute;
	top: 0px;
	right: 0px;
}